* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #696969;
}

div.button-wrapper {
  height: 15%;
  width: 5%;
  position: absolute;
  z-index: 1000;
}

div.user-button-wrapper {
  position: absolute;
  z-index: 1000;
  right: 0%;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.btnPress {
  background: lightblue;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }